<div class="kt-portlet kt-portlet--mobile kt-portlet--tabs">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button class="btn btn-brand btn-elevate btn-icon-sm" (click)="openRegionForm()">
                        <i class="la la-plus"></i>
                        Add Region
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">

                    <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact">
                        <div class="kt-quick-search__form">
                            <div class="input-group border-bottom-gray"
                                [ngClass]="{'kt-spinner kt-spinner--input kt-spinner--sm kt-spinner--brand kt-spinner--right': loadingSearchData}">
                                <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="flaticon2-search-1"></i></span></div>
                                <input #searchField (keyup.enter)="search(searchField.value)"
                                       class="form-control kt-quick-search__input" placeholder="Search..."
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
            id="kt_datatable_latest_orders">
            <table class="kt-datatable__table" style="display: block;">
                <thead class="kt-datatable__head">
                    <tr class="kt-datatable__row" style="left: 0px;">
                        <th class="kt-datatable__cell" data-autohide-disabled="false">
                            <span class="kt-font-boldest wp-40">S.no.</span>
                        </th>
                        <th class="kt-datatable__cell" data-autohide-disabled="false">
                            <span class="kt-font-boldest wp-180">Region Code</span>
                        </th>
                        <th class="kt-datatable__cell" data-autohide-disabled="false">
                            <span class="kt-font-boldest wp-180">Name</span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-boldest wp-120">Type </span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-boldest wp-120">Pincode</span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-boldest wp-120">Belongs To</span>
                        </th>
                        <th class="kt-datatable__cell" data-autohide-disabled="false">
                            <span class="kt-font-boldest wp-80">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="kt-datatable__body ps ps--active-y">
                    <ng-container *ngFor="let regions of list; let i = index;">
                        <tr class="kt-datatable__row">
                            <td class="kt-datatable__cell">
                                <span class="wp-40">{{ (i + (paginator.pageSize * paginator.pageIndex)) + 1 }}</span>
                            </td>
                            <td class="kt-datatable__cell">
                                <span class="wp-180">
                                    <a class="kt-font-bold">{{ regions.code }}</a>
                                </span>
                            </td>
                            <td class="kt-datatable__cell">
                                <span class="kt-font-bold wp-180">{{ regions.name }}</span>
                            </td>
                            <td class="kt-datatable__cell">
                                <span class="kt-font-bold wp-120">{{ regions.type | uppercase}}</span>
                            </td>
                            <td class="kt-datatable__cell">
                                <span class="kt-font-bold wp-120">{{ regions.pincode }}</span>
                            </td>
                            <td class="kt-datatable__cell">
                                <span class="kt-font-bold wp-120">{{ regions.belongs_to?.name || '' }}</span>
                            </td>
                            <td class="kt-datatable__cell">
                                <span class="wp-80">
                                    <a class="btn btn-bold btn-sm btn-font-sm btn-label-success"
                                        (click)="updateRegionForm(regions)">Update</a>
                                </span>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="listData?.count === 0">
                        <tr class="kt-datatable__row">
                            <td class="kt-datatable__cell">
                                <span class="no-data"> No data found </span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div [hidden]="listData?.count === 0"
                 class="mat-table__bottom mat-table__bottom--padding kt-datatable__pager kt-datatable--paging-loaded">
                <mat-paginator #paginator (page)="paginate($event)" [length]="listData?.count"
                               [pageSizeOptions]="[15, 30, 50]"
                               [pageSize]="15" [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
    </div>
</div>
