<div class="lead-form ls-form-alt">
    <div class="modal-header">
        <h4 class="modal-title">Add NACH</h4>
        <button (click)="dismiss()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Choose Bank:</label>
                    <select class="form-control" name="">
                        <option value="">Select</option>
                        <option>Axis Bank - 97709873457127</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <button _ngcontent-aym-c27="" class="btn btn-brand btn-block btn-square btn-tall" type="button">Save
    </button>
</div>