<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                {{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="https://www.loansimple.in" target="_blank"
                                                            class="kt-link">LoanSimple</a>
            </div>
            <div class="kt-footer__menu">
                <a href="https://www.loansimple.in/refer-and-earn" target="_blank" class="kt-footer__menu-link kt-link">Refer
                    & Earn</a>
                <a href="https://www.loansimple.in/apply" target="_blank" class="kt-footer__menu-link kt-link">Apply for
                    Loan</a>
                <a href="https://www.loansimple.in/know-your-eligibility" target="_blank"
                   class="kt-footer__menu-link kt-link">Loan Calculator</a>
            </div>
        </div>
    </div>
</div>
