<form class="kt-portlet" [ngClass]="{'kt-portlet--height-fluid': fluid}" #contactsForm="ngForm" (ngSubmit)="saveContact()">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
            {{title}}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-portlet__body" *ngIf="contacts?.length == 0">
            <div class="kt-section__content kt-section__content--solid flex-centered">
                <h4>
                    <small class="text-muted">You haven't added any {{title}}</small>
                </h4>
            </div>
        </div>
        <div class="kt-widget4">
            <div class="kt-widget4__item pb-0" *ngFor="let row of contacts">
                <label class="kt-radio kt-radio--solid kt-radio--success">
                    <input [checked]="row.is_primary" [name]="type" type="radio" (change)="primaryContact(row)"> {{row.detail}}
                    <span></span>
                </label>
                <label *ngIf="row.is_verified" class="btn btn-label-danger btn-sm ml-2">Verified</label>
                <label *ngIf="!row.is_verified" class="btn btn-label-danger btn-sm ml-2" (click)="verifyDetails()">Unverified</label>
                <a class="kt-widget4__number kt-font-dark" (click)="delete(row)">
                    <span><i class="la la-remove"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="ls-form">
        <div class="form-group ">
            <div class="input-group">
                <input class="form-control form-control-square form-control-foot" name="mobile" [(ngModel)]="contact.detail" type="text" [placeholder]="'Add ' +  title" type="text">
                <div class="input-group-append">
                    <button class="btn btn-brand btn-square" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>