<div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Call Recording
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <a href="" target="_blank" class="ng-star-inserted">
                <i class="fa fa-file-alt"></i>
            </a> &nbsp; &nbsp;
            <button type="submit" class="btn btn-success btn-circle btn-elevate btn-icon btn-sm btn-icon-md">
                <i class="la la-save"></i>
            </button>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group">
            <div class="input-group mt-2">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Upload Call Recording</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Remarks</label>
            <div class="input-group">
                <textarea class="form-control" type="text" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>Is Verified? (Tick, if yes)?</label><br />
            <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                <input type="checkbox" value="true" name="is_verified">&nbsp;
                <span></span>
            </label>
        </div>
    </div>
</div>