<div class="form-container">
    <div class="modal-header">
        <h4 class="modal-title">PTP History</h4>
        <button (click)="dismiss()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Mode</th>
                                <th>Repayment</th>
                                <th>Right Person Contact</th>
                                <th style="width: 10%;">Field Visit</th>
                                <th>Created At</th>
                                <th>Status</th>
                                <th>Required Field Visit</th>
                                <th>Remark</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of listData?.results; index as i">
                                <th scope="row">{{ i + 1}}</th>
                                <td>{{data.date | date}}</td>
                                <td>{{data.amount | currency:'&#8377;'}}</td>
                                <td>{{data.payment_mode | constant}}</td>
                                <td>{{data.repayment.txn_id}} <br/>
                                    ({{data.repayment.status | constant}})
                                </td>
                                <td>{{data.right_person_contact}}</td>
                                <td style="width: 10%;">
                                    <a *ngIf="data.repayment.field_visit && data.repayment.field_visit.is_visit_done" (click)="openFieldVisit(data.repayment.field_visit)" class="btn btn-sm btn-primary text-white">Visit Done</a>
                                    <a *ngIf="data.repayment.field_visit && !data.repayment.field_visit.is_visit_done" (click)="openFieldVisit(data.repayment.field_visit)" class="btn btn-sm btn-danger text-white">Not Visit Done</a>
                                    <span *ngIf="!data.repayment.field_visit"> - </span>
                                </td>
                                <td>{{data.created_at | date}}</td>
                                <td>{{data.status | constant}}</td>
                                <td>
                                    <span *ngIf="data.repayment.is_field_visit_required" class="btn btn-bold btn-sm btn-font-sm btn-label-danger">
                                        {{data.repayment.is_field_visit_required}}
                                    </span>
                                    <span *ngIf="!data.repayment.is_field_visit_required" class="btn btn-bold btn-sm btn-font-sm btn-label-primary">
                                        {{data.repayment.is_field_visit_required}}
                                    </span>
                                </td>
                                <td>{{data.reason}}
                                    <span *ngIf="!data.reason"> - </span>
                                </td>
                                <td>
                                    <button type="button" *ngIf="data.status == 'pending'" (click)="deletePTP(data)"
                                        class="btn btn-xs btn-danger">Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-brand btn-block btn-square btn-tall" type="button" (click)="dismiss()">Close
    </button>
</div>
