.row
{
    margin-left: -7px;
    margin-bottom: -7px;
}

.kt-heading {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.col-form-label {
    padding-top: calc(0.20rem + 1px);
    padding-bottom: calc(0.20rem + 1px);
}
