<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Opening / Closing Balance
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Opening </th>
                            <th scope="col">Credit </th>
                            <th scope="col">Debit </th>
                            <th scope="col">Closing </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                8,991.79
                            </td>
                            <td>
                                131,867.90
                            </td>
                            <td>
                                139,778.42
                            </td>
                            <td>
                                1,081.27
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                8,991.79
                            </td>
                            <td>
                                131,867.90
                            </td>
                            <td>
                                139,778.42
                            </td>
                            <td>
                                1,081.27
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                8,991.79
                            </td>
                            <td>
                                131,867.90
                            </td>
                            <td>
                                139,778.42
                            </td>
                            <td>
                                1,081.27
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Monthly ABB
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                45,000.00
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2018</td>
                            <td>
                                45,000.00
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2018</td>
                            <td>
                                45,000.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Cheque Returns
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col"># Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                45
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2018</td>
                            <td>
                                45
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2018</td>
                            <td>
                                45
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Cheque Paid
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col"># Transaction </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Cash Deposits
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col"># Transaction </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        NACH
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col"># Transaction </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Major Transaction
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <select class="form-control" name="">
                            <option value="">Self</option>
                        </select>
                    </div>
                </div>
                <table class="table table-bordered mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Credit </th>
                            <th scope="col">Debit </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                131,867.90
                            </td>
                            <td>
                                139,778.42
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                131,867.90
                            </td>
                            <td>
                                139,778.42
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                131,867.90
                            </td>
                            <td>
                                139,778.42
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Description </th>
                            <th scope="col">Credit </th>
                            <th scope="col">Debit </th>
                            <th scope="col">Balance </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12:00 AM, 06 Jun </td>
                            <td>
                                ATM WDR 9565 PNB \+DP 4 LOCAL SHOP G COM \PNEW D
                            </td>
                            <td>
                                0.00
                            </td>
                            <td>
                                15,000.00
                            </td>
                            <td>
                                11,444.27
                            </td>
                        </tr>
                        <tr>
                            <td>12:00 AM, 06 Jun </td>
                            <td>
                                ATM WDR 9565 PNB \+DP 4 LOCAL SHOP G COM \PNEW D
                            </td>
                            <td>
                                0.00
                            </td>
                            <td>
                                15,000.00
                            </td>
                            <td>
                                11,444.27
                            </td>
                        </tr>
                        <tr>
                            <td>12:00 AM, 06 Jun </td>
                            <td>
                                ATM WDR 9565 PNB \+DP 4 LOCAL SHOP G COM \PNEW D
                            </td>
                            <td>
                                0.00
                            </td>
                            <td>
                                15,000.00
                            </td>
                            <td>
                                11,444.27
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Cash Withdrawal
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col"># Transaction </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2018</td>
                            <td>
                                45,000.00
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
