<div class="form-container">
    <div class="modal-header">
        <h4 class="modal-title">Verification</h4>
        <button (click)="dismiss()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-muted">Send OTP :</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-brand btn-block btn-square btn-tall" type="button" (click)="verifyOtp()">Verify
    </button>
</div>