.active{
    color: #591df1;
    border-bottom: 1px solid #591df1;
}

// th span, td span, td a {
//     // width: 120px;
//     float: left;
// }

.no-data{
    width:100% !important;
    text-align:center !important;
    font-weight: bold;
    font-size: 20px;
}
