<div class="row">
    <div class="col-xl-6">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <!--begin::Widget -->
                <div class="kt-widget kt-widget--project-1">
                    <div class="kt-widget__body">
                        <div class="kt-widget__stats">
                            <div class="kt-widget__item">
                                <span class="kt-widget__date">
                                    Due Date
                                </span>
                                <div class="kt-widget__label">
                                    <span class="btn btn-label-info btn-sm btn-bold btn-upper">07 0ct 11:40 AM</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <span class="kt-widget__date">
                                    Status
                                </span>
                                <div class="kt-widget__label">
                                    <span class="btn btn-label-warning btn-sm btn-bold btn-upper">Due in 15mins</span>
                                </div>
                            </div>
                        </div>

                        <span class="kt-widget__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, reprehenderit!
                        </span>
                    </div>
                    <div class="kt-widget__footer">
                        <div class="kt-widget__wrapper">
                            <div class="kt-widget__section">
                                <div class="dropdown" ngbDropdown>
                                    <button
                                        class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle"
                                        ngbDropdownToggle>
                                        <i class="flaticon-more-1"></i>
                                    </button>
                                    <div aria-labelledby="dropdownConfig" class="dropdown-menu dropdown-menu-right"
                                         ngbDropdownMenu>
                                        <a class="dropdown-item"><i
                                            class="la la-commenting"></i> Edit</a>
                                        <a class="dropdown-item"><i class="la la-copy"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget__section">
                                <button class="btn btn-brand btn-sm btn-upper btn-bold" type="button">Mark as
                                    Complete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Widget -->
            </div>
        </div>
    </div>
</div>
