<div class="row">
    <div class="col-md-12">
        <form class="kt-portlet kt-portlet--height-fluid" #basicDetailsForm="ngForm" *ngIf="data" (ngSubmit)="saveData()">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Basic Details
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <button type="submit" class="btn btn-brand btn-circle btn-elevate btn-icon btn-sm btn-icon-md">
                        <i class="la la-save"></i>
                    </button>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <kt-ls-badge [extras]="[extra['person_pan_name_match'], extra['aadhaar_name_match']]"></kt-ls-badge>
                                Full Name:
                            </label>
                            <div class="input-group">
                                <input class="form-control" name="first_name" placeholder="First Name" type="text" [(ngModel)]="businessPerson.person.first_name">
                                <input class="form-control" name="middle_name" placeholder="Middle Name" type="text" [(ngModel)]="businessPerson.person.middle_name">
                                <input class="form-control" name="last_name" placeholder="Last Name" type="text" [(ngModel)]="businessPerson.person.last_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <kt-ls-badge [extras]="[extra['person_pan_dob_match'], extra['aadhaar_dob_match']]"></kt-ls-badge>
                                DOB:
                            </label>
                            <div class="input-group">
                                <input [matDatepicker]="dobPicker" [max]="today" name="dob" placeholder="Date of Birth" class="form-control datePicker"
                                    [(ngModel)]="businessPerson.person.dob" (focus)="dobPicker.open()">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-primary" (click)="dobPicker.open()" type="button">
                                        <i class="la la-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <mat-datepicker #dobPicker></mat-datepicker>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <kt-ls-badge [extra]="extra['aadhaar_gender_match']"></kt-ls-badge>
                                Gender:
                            </label>
                            <select class="form-control" id="" name="gender" [(ngModel)]="businessPerson.person.gender">
                                <option value="">Select Gender</option>
                                <option *ngFor="let gender of genders" [value]="gender.value">{{ gender.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Designation:
                            </label>
                            <select class="form-control" id="" name="position" [(ngModel)]="businessPerson.position">
                                <option value="">Select Designation</option>
                                <option *ngFor="let designation of designations" [value]="designation.value">{{ designation.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
