<form class="lead-form ls-form-alt" #raiseIssueForm="ngForm" (ngSubmit)="saveData()">
    <div class="modal-header">
        <h4 class="modal-title">Raise Issue</h4>
        <button (click)="dismiss()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="text-muted">Reason for Issue</label>
            <select class="form-control" id="" name="reason" [(ngModel)]="data.reason">
                <option value="">Select Reason</option>
                <option [value]="reasonType.value" *ngFor="let reasonType of reasonTypes">{{ reasonType.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="text-muted">Issue Comment</label>
            <textarea class="form-control" rows="5" name="remark" [(ngModel)]="data.remark"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-brand btn-block btn-square btn-tall">Raise Issue</button>
</form>
