<div class="row">
    <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-success nav-tabs-line-2x"
                        role="tablist">
                        <li class="nav-item" (click)="changeCurrentTab('details')">
                            <a class="nav-link" [ngClass]="{'active':currentTab === 'details'}">
                                <i class="la la-user"></i> Details
                            </a>
                        </li>
                        <li class="nav-item" (click)="changeCurrentTab('action-histories')">
                            <a class="nav-link" [ngClass]="{'active':currentTab === 'action-histories'}">
                                <i class="la la-home"></i> Login / Logout History
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" *ngIf="currentTab === 'details'">
        <kt-user-info *ngIf="usersInfo" [usersInfo]="usersInfo"></kt-user-info>
    </div>
    <div class="col-xl-12" *ngIf="currentTab === 'action-histories'">
        <kt-action-histories-list [userId]="userId"></kt-action-histories-list>
    </div>
</div>
