
<div class="kt-portlet kt-portlet--mobile kt-portlet--tabs">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-toolbar">
            <ul class="nav nav-tabs nav-tabs-bold nav-tabs-line nav-tabs-line-right nav-tabs-line-brand"
                role="tablist">
                <li class="nav-item" (click)="currentApplicationTab('pending_confirmation')">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'pending_confirmation'}">
                        Pending Confirmation
<!--                        <span-->
<!--                        class="kt-badge kt-badge&#45;&#45;unified-default kt-badge&#45;&#45;inline kt-badge&#45;&#45;pill">{{badges.pending_confirmation}}</span>-->
                    </a>
                </li>
                <li class="nav-item" (click)="currentApplicationTab('deposited')">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'deposited'}">
                        Deposited
<!--                        &nbsp; <span-->
<!--                        class="kt-badge kt-badge&#45;&#45;unified-default kt-badge&#45;&#45;inline kt-badge&#45;&#45;pill">{{badges.deposited}}</span>-->
                    </a>
                </li>
            </ul>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact">
                        <div class="kt-quick-search__form">
                            <div class="input-group border-bottom-gray">
                                <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="flaticon2-search-1"></i></span></div>
                                <input #searchField (keyup.enter)="search(searchField.value)"
                                       class="form-control kt-quick-search__input" placeholder="Search..."
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #listView class="kt-portlet__body">
        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="kt_datatable_latest_orders">
            <table class="kt-datatable__table" style="display: block; overflow: scroll;">
                <thead class="kt-datatable__head">
                <tr class="kt-datatable__row" style="left: 0px;">
                    <th class="kt-datatable__cell">
                        <span class="kt-font-boldest wp-50">S. No.</span>
                    </th>
                    <th class="kt-datatable__cell">
                        <span class="kt-font-boldest wp-100">Loan ID</span>
                    </th>
                    <th class="kt-datatable__cell">
                        <span class="kt-font-boldest wp-100">Date</span>
                    </th>
                    <th class="kt-datatable__cell">
                        <span class="kt-font-boldest wp-100">Amount</span>
                    </th>
                    <th class="kt-datatable__cell">
                        <span class="kt-font-boldest wp-100">Cheque No</span>
                    </th>
                    <th class="kt-datatable__cell">
                        <span class="kt-font-boldest wp-100">Link</span>
                    </th>
                </tr>
                </thead>
                <tbody class="kt-datatable__body ps--active-y">
                <ng-container *ngFor="let row of listData?.results; let i = index;">
                    <tr class="kt-datatable__row">
                        <th class="kt-datatable__cell">
                            <span class="kt-font-bold wp-50">{{(i + (paginator.pageSize *  paginator.pageIndex)) + 1}}</span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-bold wp-100">
                               {{row.loan_account?.loan_account_id}}
                            </span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-bold wp-100">
                               {{row.pdc?.date | dateTime}}
                            </span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-bold wp-100">{{row.pdc?.amount}}</span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="kt-font-bold wp-100">{{row.pdc?.cheque_no}}</span>
                        </th>
                        <th class="kt-datatable__cell">
                            <span class="wp-100">
                                <a matTooltip="File link" target="_blank" [class.disabled]="row.pdc?.file === null"
                                class="btn-success btn-sm" href="{{row.pdc?.file}}"> <i class="fa fa-file-alt"></i></a>
                            </span>
<!--                            <span class="kt-font-bold wp-130">{{row.pdc?.file}}</span>-->
                        </th>
                    </tr>
                </ng-container>
                <ng-container *ngIf="listData?.count === 0">
                    <tr class="kt-datatable__row">
                        <td class="kt-datatable__cell">
                            <span class="no-data"> No data found </span>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
            <div style="margin-top: 20px;"
                [ngClass]="{'kt-spinner kt-spinner--input kt-spinner--md kt-spinner--brand kt-spinner--center': loadingSearchData}"></div>
            <div [hidden]="listData?.count === 0"
                 class="mat-table__bottom mat-table__bottom--padding kt-datatable__pager kt-datatable--paging-loaded">
                <mat-paginator #paginator (page)="paginate($event)" [length]="listData?.count"
                               [pageSizeOptions]="[15, 30, 50]"
                               [pageSize]="15" [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
        </div>
        <!--end: Datatable -->
</div>
